@font-face {
  font-family: "Poppins";
  src: url("/src/fonts/Poppins-SemiBold.ttf");
}

* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  font-size: 1.5rem;
}
.chat_container header {
  border: 1px solid;
  width: 100%;
}
.chat_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90vh;
  align-items: center;
  border-radius: 40px;
}

.chat_page_handler {
  width: 40%;
  height: 100%;
}

.chat_page_handler .header {
  height: 10hv;
}
.chat_page_handler header {
  border: none;
  background-color: rgba(175, 187, 161, 0.315);
}

.chat_page_handler ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.chat_page_handler ul li a {
  color: rgb(255, 255, 255);
}
.chat_page_handler ul li a:hover {
  color: rgb(151, 223, 70);
  background-color: black;
  border-radius: 10px;
  padding: 2px;
}

.chat_page_handler header button {
  border: none;
  font-size: 1.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  background: transparent;
}

.chat_page_handler .pageHandlerComponents {
  height: 95%;
  width: 98%;
  margin-top: 1%;
  border-radius: 10%;
}
.chat_area {
  width: 60%;
  height: 100%;
}

.chat_area .chat_display_area {
  width: 100%;
  height: 90%;
  background-color: #81a79e;
  margin-bottom: 1%;
  border-radius: 10px;
}

.chat_area .chat_text_input {
  width: 100%;
  height: 10hv;
  display: flex;
  align-items: center;
}
.chat_area .chat_text_input .text_area {
  width: 80%;
  height: 90%;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  border-radius: 10px;
  resize: none;
  overflow-y: hidden;
}

.chat_area .chat_text_input button {
  width: 15%;
  height: 4.5rem;
  font-size: 3rem;
  padding-top: 0;
  margin: 0;
  border-radius: 20px;
  align-items: center;
  background-color: rgb(151, 223, 70);
}

.chat_area .chat_text_input button:hover {
  color: white;
}
.chat_page_handler .pageHandlerComponents {
  display: flex;
  align-items: center;
}

.chat_page_handler .pageHandlerComponents .content_displayer {
  height: 100%;
  background-color: black;
  width: 100%;
  border-radius: 10px;
  margin: 2px;
  padding: auto;
}

.dm_list {
  background-color: aqua;
  height: 100%;
  width: 100%;
}

.group_page {
  height: 100%;
  width: 100%;
  background-color: bisque;
}

.user_list {
  height: 100%;
  width: 100%;
  background-color: brown;
}
