@font-face {
  font-family: "Poppins";
  src: url("/src/fonts/Poppins-SemiBold.ttf");
}

* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  font-size: 1.5rem;
}
.chat_container header {
  border: 1px solid;
  width: 100%;
}
.chat_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90vh;
  align-items: center;
  border-radius: 40px;
}

.chat_page_handler {
  width: 40%;
  height: 100%;
}

.chat_page_handler .header {
  height: 10hv;
}
.chat_page_handler header {
  border: none;
  background-color: rgba(15, 27, 0, 0.315);
}

.chat_page_handler ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.chat_page_handler ul li a {
  color: rgb(255, 255, 255);
}
.chat_page_handler ul li a:hover {
  color: rgb(151, 223, 70);
  background-color: black;
  border-radius: 10px;
  padding: 2px;
}

.chat_page_handler header button {
  border: none;
  font-size: 1.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  background: transparent;
}

.chat_page_handler .pageHandlerComponents {
  height: 95%;
  width: 98%;
  margin-top: 1%;
  border-radius: 10%;
}
.chat_area {
  width: 60%;
  height: 100%;
}

.chat_area .chat_display_area {
  width: 100%;
  height: 90%;
  background-color: #202209;
  margin-bottom: 1%;
  border-radius: 10px;
  overflow: auto;
}

.chat_area .chat_text_input {
  width: 100%;
  height: 10hv;
  display: flex;
  align-items: center;
}
.chat_area .chat_text_input .text_area {
  width: 80%;
  height: 90%;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  border-radius: 10px;
  resize: none;
  overflow-y: hidden;
  background-color: #202209;
  color: rgb(255, 255, 255);
}

.chat_area .chat_text_input button {
  width: 15%;
  height: 4.5rem;
  font-size: 3rem;
  padding-top: 0;
  margin: 0;
  border-radius: 20px;
  align-items: center;
  color: yellow;
  background-color: rgb(58, 145, 87);
}

.chat_area .chat_text_input button:hover {
  color: white;
  background-color: rgb(0, 0, 0);
}
.chat_page_handler .pageHandlerComponents {
  display: flex;
  align-items: center;
}

.chat_page_handler .pageHandlerComponents .content_displayer {
  height: 100%;
  background-color: black;
  width: 100%;
  border-radius: 10px;
  margin: 2px;
  padding: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.dm_list {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  padding: 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.group_page {
  height: 100%;
  width: 100%;
  background-color: rgb(39, 35, 31);
  padding: 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.user_profile {
  height: 100%;
  width: 100%;
  background-color: rgb(48, 40, 40);
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  color: yellow;
}

.AvatarTab {
  width: 90%;
  background: rgb(23, 27, 26);
  height: 4rem;
  display: flex;
  margin: 3px;
  border-radius: 10px;
  cursor: pointer;
  color: yellow;
  border: none;
  gap: 2rem;
}

.AvatarTab:hover {
  border: 1px slid greenyellow;
}
.AvatarTab:active {
  background-color: aqua;
  color: black;
  border: 1px solid black;
}
.AvatarTab img {
  border-radius: 50%;
  height: 3rem;
}

.user_profile .user_pic img {
  border-radius: 50%;
  height: 7rem;
}

.search_button {
  margin: 20px 10px;
}
.search_button .text_input {
  width: 90%;
  height: 3rem;
  font-size: 2rem;
  font-weight: 800;
  border: none;
  border-radius: 20px;
}

.search_button .submit {
  width: 10%;
  height: 3rem;
  font-size: 2rem;
  font-weight: 800;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.search_button .submit:hover {
  background-color: black;
  color: white;
}

.chatCard {
  display: flex;
  flex: 1;
  margin: 20px;
  color: white;
  border-radius: 25px;
}

.chatCard .user_profile {
  background: transparent;
  margin-bottom: 0;
  width: 15rem;
  height: 100%;
}
.chatCard .content {
  background-color: black;
  color: rgb(255, 253, 154);
  font-size: 1.2rem;
  padding: 20px;
  border-radius: 20px;
}
.chatCard img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-bottom: 0;
}
