@font-face {
  font-family: "Poppins";
  src: url("/src/fonts/Poppins-SemiBold.ttf");
}

* {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  font-size: 1.5rem;
}

nav li .active {
  text-shadow: 1px 1px 20px yellow;
  border-radius: 3rem;
  text-decoration: underline;
}
.chat_container header {
  border: 1px solid;
  width: 100%;
}
.chat_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 85vh;
  align-items: center;
  border-radius: 40px;
  margin-top: 5rem;
}

.chat_page_handler {
  width: 40%;
  height: 100%;
}

.chat_page_handler header {
  width: 97%;
  border: none;
  background-color: rgba(15, 27, 0, 0.315);
  border-radius: 1rem;
}

.chat_page_handler ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.chat_page_handler ul li a {
  color: rgb(255, 255, 255);
}

.chat_page_handler ul li button {
  color: white;
  text-shadow: 1px 1px 10px yellow;
}
.chat_page_handler ul li a:hover {
  color: rgb(151, 223, 70);
  background-color: black;
  border-radius: 10px;
  padding: 2px;
}

.chat_page_handler header button {
  border: none;
  font-size: 1.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  background: transparent;
}

.chat_page_handler .pageHandlerComponents {
  height: 95%;
  width: 98%;
  margin-top: 1%;
  border-radius: 10%;
}
.chat_area {
  width: 60%;
  height: 100%;
}

.chat_area .chat_display_area {
  width: 97%;
  height: 85%;
  background-color: #1d1d1b;
  margin-bottom: 1%;
  margin-top: 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.chat_area .chat_text_input {
  width: 100%;
  height: 10hv;
  display: flex;
  align-items: center;
}
.chat_area .chat_text_input .text_area {
  width: 80%;
  height: 90%;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  border-radius: 10px;
  resize: none;
  overflow-y: hidden;
  background-color: #202209;
}

.chat_area .chat_text_input .text_area:active {
  background-color: #1d1d1b;
}

.chat_area .chat_text_input .text_area:focus {
  color: black;
  background-color: rgb(255, 255, 255);
}

.chat_area .chat_text_input button {
  width: 15%;
  height: 4.5rem;
  font-size: 3rem;
  padding-top: 0;
  margin: 0;
  border-radius: 20px;
  align-items: center;
  color: yellow;
  background-color: rgb(6, 26, 12);
}

.chat_area .chat_text_input button:hover {
  color: white;
  background-color: rgb(112, 117, 40);
}
.chat_page_handler .pageHandlerComponents {
  display: flex;
  align-items: center;
}

.chat_page_handler .pageHandlerComponents .content_displayer {
  height: 100%;
  background-color: rgba(46, 46, 46, 0.722);
  width: 100%;
  border-radius: 10px;
  margin: 2px;
  padding: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.dm_list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.group_page {
  height: 100%;
  width: 100%;
  padding: 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.user_profile {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  color: yellow;
}

.user_profile button {
  width: 35rem;
  height: 4rem;
  margin-left: 13%;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  border-radius: 2rem;
  background-color: #928e8e;
}

.user_profile button:hover {
  color: skyblue;
  background-color: black;
}

.itemList {
  width: 100%;
  height: 80%;
}

.itemList:last-child {
  margin-bottom: 3rem;
}

.AvatarTab {
  width: 100%;
  background: rgb(163, 163, 163);
  box-shadow: 1px 1px 5px rgb(97, 97, 97);
  border: 3px solid rgb(74, 74, 74);
  border-radius: 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
  margin: 3px;
  cursor: pointer;
  color: yellow;
  gap: 2rem;
  padding: 2rem;
}

.AvatarTab:hover {
  border: 1px solid greenyellow;
}
.AvatarTab:active {
  background-color: rgb(238, 255, 0);
  color: black;
  border: 1px solid black;
}
.AvatarTab img {
  border-radius: 50%;
  height: 3rem;
}

.user_profile .user_pic img {
  border-radius: 50%;
  height: 7rem;
}

.search_button {
  margin: 20px 10px;
}
.search_button .text_input {
  width: 90%;
  height: 3rem;
  font-size: 2rem;
  font-weight: 800;
  border: none;
  border-radius: 20px;
}

.search_button .submit {
  width: 10%;
  height: 3rem;
  font-size: 2rem;
  font-weight: 800;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.search_button .submit:hover {
  background-color: black;
  color: white;
}

.chatCardMe {
  display: flex;
  margin: 20px;
  background: transparent;
  color: white;
  border-radius: 25px;
  width: 60%;
}

.chatCardMe .user_profile {
  margin-bottom: 0;
  width: 5rem;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: end;
}
.chatCardMe .content {
  width: 85%;
  background-color: rgb(9, 223, 238);
  color: rgb(18, 35, 66);
  font-size: 1.3rem;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 40px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.chatCardMe img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.chatCardMe .userName {
  color: rgb(68, 64, 64);
  float: right;
  font-size: 1rem;
}

.chatCardMe .sentTime {
  color:rgb(68, 64, 64);
  font-size: 1rem;
  float: right;
}
.chatCardAnother {
  display: flex;
  margin: 20px;
  background: transparent;
  color: white;
  border-radius: 25px;
  width: 60%;
}

.chatCardAnother .user_profile {
  margin-bottom: 0;
  width: 5rem;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: end;
}
.chatCardAnother .content {
  width: 85%;
  background-color: rgb(194, 228, 132);
  color: rgb(18, 35, 66);
  font-size: 1.3rem;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 40px;
  display: flex;
  flex-direction: column;
  text-align: start;
  float: left;
}
.chatCardAnother img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.chatCardAnother .userName {
  color: rgb(68, 64, 64);
  float: right;
  font-size: 1rem;
}

.chatCardAnother .sentTime {
  color:rgb(68, 64, 64);
  font-size: 1rem;
  float: right;
}

.newChatContainer {
  color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem 0;
}
.newChatContainer option,
.newChatContainer label,
.newChatContainer select,
.newChatContainer input {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  border-radius: 1rem;
  padding: 0 2rem 0;
  height: 2.5rem;
}

.newChatContainer hr {
  width: 80%;
  background-color: white;

  margin-bottom: 4rem;
}
.newChatContainer form .nameContainer {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.newChatContainer .submitButton {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

.newChatContainer .submitButton input {
  height: 3.5rem;
  cursor: pointer;
  font-size: 2.3rem;
  background-color: aquamarine;
}

.newChatContainer .submitButton input:hover {
  height: 3.5rem;
  cursor: pointer;
  font-size: 2.3rem;
  background-color: rgb(0, 0, 0);
  color: aquamarine;
}
